@{
    ViewBag.Title = "Central Ohio Day of .NET";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
@*                <h1>@ViewBag.Title.</h1>                *@
            </hgroup>
            <p>
                <img alt="Cloud" class="tileImage" src="Images/CloudTile.png"/>
                <img alt="Windows" class="tileImage" src="Images/WindowsTile.png"/>
                <img alt="Central Ohio Day of .Net" class="tileImage" src="Images/Logo.png"/>
                <img alt="Marketplace" class="tileImage" src="Images/StoreTile.png"/>
                <img alt="Cloud" class="tileImage" src="Images/CloudTile.png"/>
            </p>
        </div>
    </section>
}
The Central Ohio Day of .NET is a one day event that enables developers interested in learing and expanding their knowledge of the Microsoft .NET development platform.
Sessions will cover general .NET development, tools and techniques, developing or Windows Phone and Windows Azure and what's coming in Windows 8.
The tentative date for the Central Ohio Day of .NET is December 8th, 2012. The location will be announced over the Summer.
